@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
.topleftlogo{
    width:270px;
    height:270px;
    margin-top: -4%;
}

.darkHomepage{
  /* background-color: #001945; */
  margin: 0;
  background: linear-gradient(180deg, #001945 35.94%, #000011 100%);
}

.homepage{
    background-color: #FFEFD1;
    margin: 0;
    padding:20px;

}


        
        .pfp {
            margin-left: 10px;
        }

        .changelogshown {
            transform: translate(-50%, -50%);
            animation: showchangelog 0.5s ease-in-out;
        }

        .changeloghidden {
            transform: translate(-50%, 60%);
            animation: hidechangelog 0.5s ease-in-out;
        }

        @keyframes showchangelog {
            0% {
                transform: translate(-50%, 60%);
            }
            100% {
                transform: translate(-50%, -50%);
            }
        }

        @keyframes hidechangelog {
            0% {
                transform: translate(-50%, -50%);
            }
            100% {
                transform: translate(-50%, 60%);
            }
        }

        #changelog {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75vw; height: 75vh; background-color: wheat;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        .headerContainer {
            position: absolute;
        }

        .homepageheader {
            height: 10vh;
            background-color: wheat;
            width: 100vw;
        }

        .body {
            position: absolute;
        }

        .horizontalFlex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .horizontalFlexWrap {
          display: flex;
          flex-direction: row;
          flex:wrap;
      }
        .centerFlex {
            justify-content: center;
            align-items: center;
        }

        .flexSpacer {
            flex: 1;
        }

        



        .uploadConvertContainer {
            background-color: rgb(47, 61, 115);
            width: 100vw;
            color: wheat;
        }

        .largeButton {
            border-radius: 1000000px;
            height: 5vh;
            width: 35vw;
            padding: 2.5vh;
            background-color: #001945;
            margin: 5vh;
        }

        .button {
            border-radius: 1000000px;
            height: 3vh;
            width: 10vw;
            padding: 1vh;
            background-color: #001945;
            margin: 2vh;
        }

        .centerText {
            text-align: center;
        }

        .headerText {
            /* font-weight: bold; */
            color: wheat;
            margin: 5vh;
            font-size: 50px;
            font-family:"Rubik Mono One";
        }

        .studysetlist {
            background-color: rgb(7, 15, 35);
            margin-left: 10vw;
            margin-right: 10vw;

            max-height: 40vh;
            overflow-y: scroll;
        }

        .studysetentry {
            color: wheat; 
            justify-content: center;
            padding: 20px;
        }

        .debugArea {
            background-color: wheat;
            width: 100vw;
            margin: 0;
        }

        .footer {
            color: wheat;
        }

        .fadeIn {
            transition: opacity 0.25s ease-in-out;
            opacity: 1;
        }

        .fadeOut {
            transition: opacity 0.25s ease-in-out;
            opacity: 0;
        }

        .sussybody{
          overflow-y: hidden;
          height: 100vh;
          width: 100vw;
        }

        /* https://stackoverflow.com/questions/27938900/how-to-prevent-a-css-keyframe-animation-from-running-on-page-load */
        .preload {
        animation-duration: 0s !important;
        -webkit-animation-duration: 0s !important;
        transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}



body{
  -webkit-app-region: drag; 
  margin: 0;
  background-color: #001945;
  font-family: 'Poppins', sans-serif;

  
}

.samelineheader{
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.largeTitle{
  font-family: 'Rubik Mono One', sans-serif; 
  font-size:2vw;
}


.bigselection:hover{
    font-weight:bolder;
    text-decoration: underline;
    transition:.2s;
    
}

.bigselection{
    font-family: 'Poppins', sans-serif;
    color:#001945;
   

}

.header{
    font-family: 'Poppins', sans-serif;
    color:#001945;
    font-size:2.2vh;
}
.unlinkedHeader{
  font-family: 'Poppins', sans-serif;
  color:#001945;
}
.sameline{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding:15px;
}

.smallselection{
    font-family: 'Poppins', sans-serif;
    color:#001945;
    
}

.testing{
    background-color: aqua;
}

.dropbtn {
    background-color: #001945;
    color: white;
    padding: 16px;
    font-size: 2vh;
    font-size-adjust:initial;
    border: none;
    font-family: 'Poppins', sans-serif;
    min-width:200px;
  
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:10vw;
    height:10vh;
    color: #FFEFD1;
   
  }

  .dropbtn2 {
    background-color: #001945;
    color: white;
    padding: 16px;
    font-size: 2vh;
    font-size-adjust:initial;
    border: none;
    font-family: 'Poppins', sans-serif;
    min-width:200px;
  
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:10vw;
    height:10vh;
    color: #FFEFD1;
   
  }
  .dropbtn3 {
    background-color: #d23e3e;
    color: white;
    padding: 16px;
    font-size: 2vh;
    font-size-adjust:initial;
    border: none;
    font-family: 'Poppins', sans-serif;
    min-width:200px;
  
    border:5px;
    border-color: #d23e3e;
    border-radius: 15px;
    width:20vw;
    height:10vh;
    color: #FFEFD1;
    margin:50px;
   
  }

  .dropbtn {
    background-color: wheat;
    color: white;
    padding: 16px;
    font-size: 2vh;
    font-size-adjust:initial;
    border: none;
    font-family: 'Poppins', sans-serif;
    min-width:200px;
  
    border:5px;
    border-color: wheat;
    border-radius: 15px;
    width:10vw;
    height:10vh;
    color: #001945;
   
  }


  .testimonial {
    margin: 25px;
    width: 350px;
    background-color:white;
    border-radius: 20px;
    text-align:center;
}

.testimonial img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 25px;
}

.testimonial .text {
    padding: 25px;
}

.testimonialcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  
  text-align:center;
}

.testimonial .textproj {
    padding: 25px;
}

.header1 {
    /* background-color: orange; */
    color: black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding:25px;

}

  .dropbtn3:hover {
    background-color: #3e8e41;
    transition: 2ms;
    
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    min-width:70px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
      transition: 2ms;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;

      transition: 2ms;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    

      .dropbtnmain:hover {
        background-color: #3e8e41;
        transition: 2ms;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .dropbtn2:hover {
        background-color: #3e8e41;
        transition: 2ms;
        
      }

  .smallbutton{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:100px;
    height:50px;
    color: #FFEFD1;
    background-color: #001945;
    font-family: 'Poppins', sans-serif;
  }




.inputdiv{
    display:flex;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
}

.input {
  border: 5px;
  border-color: #001945;
  border-radius: 15px;
  width: 50vw;
  height: 150px;
  font-size: 500%;
  font-family: 'Poppins', sans-serif;
  color: wheat;
  display: none;
  background-color: rgb(47, 61, 115);
}

.inputSeen {
  border: 5px;
  border-color: #001945;
  border-radius: 15px;
  width: 40vw;
  height: 100px;
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
  color: #001945;
  text-align: center;
  
}

.largeinputbox {
  border: 5px;
  border-color: #001945;
  border-radius: 15px;
  width: 38vw;
  height: 50vh;
  
  font-family: 'Poppins', sans-serif;
  color: #001945;
 
}




.displayWord{
    font-family: 'Poppins', sans-serif;
    color:wheat;
}

.goButton {
  border: 5px;
  border-color: #001945;
  border-radius: 15px;
  width: 15vw;
  height: 150px;
  font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #001945;
  display: none;
  margin-left: 15px;
  background-color:wheat;
}

.showCorrect{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:100px;
    height:150px;
    font-size: 250%;
    display:none;
    justify-content:center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:#001945;
    display:none;
    margin-left:15px;
}

.explanation{
    font-family: 'Poppins', sans-serif;
    color:#001945;
}

.statsText{
    color: #001945;
    font-family: 'Poppins', sans-serif;

}

.statsTextPr{
    color: #001945;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.statsTextPc{
    color: #001945;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.statsTextCondt{
    color: #001945;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.stats{
    margin-right:15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    width:350px;
    height:160px;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    background-color: wheat;
    color: #001945;
}

.returnbutton{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    
    width:10vw;
    font-size:1.25vw;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:#001945;
  
    margin-left:15px;
}

.copyrighttext{
    color:#001945;
    font-family: 'Poppins', sans-serif;
    
}

.copyrighttext2{
  color:wheat;
  font-family: 'Poppins', sans-serif;
  
}

.flexbox{
    display:flex;
    flex:1;
    flex-wrap:wrap;
}
.flexbox2{
  display:flex;
  height:45vh;
  flex-wrap:wrap;
  flex-direction: row;
  margin:15px;
  
}

.flexitem2{
  align-items:center; 
  text-align:center; 
  justify-content:space-around; 
  padding:10%; 
  padding-top:0%;
  padding-bottom:0%;
  flex:1;
  min-width:230px;
  margin-bottom:20%;
}

.flexboxset{
  
  display:flex;
  flex:1;
  flex-wrap: wrap;

}

.flexitem{
    flex:1;
    min-width:230px;
    margin-bottom:20%;
}


.nwvbuglogo{
  width:20vw;
  height:20vw;
  border-radius:20px;
  min-width: 200px;
  min-height:200px;
}


.infodiv{
  background-color:#FFEFD1; 
  height:20vw; 
  width:20vw; 
  border-radius:20px;
  text-align:center;
  align-items: center;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
  font-size:1.5vw;
  min-width:250px;
  
}

.welcometext{
  font-family: 'Poppins', sans-serif;
  font-size: 120%;
  padding: 10px;
  padding-bottom: 0px;
  color: #001945;
  font-weight: 900;
}

.newbutton {
  width: 13vw;
  height: 4vw;
  border: none;
  border-radius: 15px;
  background-color: #001945;
  color: #FFEFD1;
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  min-width: 80px;
  min-height: 20px;
}

.deletebutton {
  width: 13vw;
  height: 4vw;
  border: none;
  border-radius: 15px;
  background-color: #001945;
  color: #FFEFD1;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  min-width: 80px;
  min-height: 20px;
  margin:15px;
}

.deletebutton:hover{
  background-color:#ce1483;
}
.newbutton:hover{
  background-color:#ce1483;
}
.foot{
    text-align: center;
    padding-left: 35px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: wheat;
    color: white;
    width: 102%;
    bottom: 0%;
    position: fixed;
    transform:translateX(-20px);
    margin-top:15px;
    
}
.foot2{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: rgb(47, 61, 115);
  color: white;
  width: 100%;
  bottom: 0%;
  position: fixed;
  margin-top:15px;

  
}

.topleftlogoicon{
    margin:20px;
    height:10vh;
    width:auto;
    cursor:pointer;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #001945;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3e8e41;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3e8e41;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .slidertext{
    font-family: 'Poppins', sans-serif;
    color:#001945;
    margin-left: 150%;
    margin-top: 0%;
    width: 200%;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: #c31483;
  width: 50vw;
  height: 50vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 15px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; 
  border-radius: 15px;

  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: wheat;
  color: #001945;
  border-radius: 15px;

}

.frontcardtext{
  color:#001945;
  font-family: 'Poppins', sans-serif;
}

/* Style the back side */
.flip-card-back {
  background-color: #3e8e41;
  color: white;
  transform: rotateY(180deg);
}

.largebox{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 2.5vw;
  padding: 2.5vw;
  background-color: #001945;
  border-radius: 40px;
  flex-wrap:wrap;
}

.largeboxclr{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 2.5vw;
  padding: 2.5vw;
  border-radius: 40px;
  flex-wrap:wrap;
}

.medbox{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding:20px;
  flex-wrap:wrap;
}

.testholder{
  justify-content: center;
  align-items:center;
  text-align: center;
  padding-bottom: 50px;
}

.multiplechoice{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 2.5vw;
  padding: 2.5vw;
  border-radius: 40px;
  flex-wrap:wrap;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #001945;
}

.verticalbox{
  display:flex;
  flex-direction: column;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: wheat;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-ellipsisdark {

  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsisdark div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #001945;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsisdark div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsisdark1 0.6s infinite;
}
.lds-ellipsisdark div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsisdark2 0.6s infinite;
}
.lds-ellipsisdark div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsisdark2 0.6s infinite;
}
.lds-ellipsisdark div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsisdark3 0.6s infinite;
}
@keyframes lds-ellipsisdark1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsisdark3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsisdark2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

