@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.topleftlogo{
    width:270px;
    height:270px;
    margin-top: -4%;
}

.homepage{
    background-color: wheat;
    margin: 0;
    padding:20px;
}

.samelineheader{
    display: flex;
    justify-content: space-between;
}

.bigselection:hover{
    font-weight:bolder;
    text-decoration: underline;
    transition:.2s;
    
}

.bigselection{
    font-family: 'Varela Round';
    color:#001945;
   

}

.header{
    font-family: 'Varela Round';
    color:#001945;
}

.sameline{
    display: flex;
    justify-content: space-evenly;
}

.smallselection{
    font-family: 'Varela Round';
    color:#001945;
    
}

.testing{
    background-color: aqua;
}

.dropbtn {
    background-color: #001945;
    color: white;
    padding: 16px;
    font-size: 27px;
    border: none;
    font-family:'Varela Round';
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
      transition: 2ms;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      height:150px;
      width:200px;
      transition: 2ms;
    }

    .dropbtn:hover {
        background-color: #3e8e41;
        height:150px;
        width:200px;
        transition: 2ms;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

  .dropbtn{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:160px;
    height:100px;
    color: wheat;
   
  }

  .smallbutton{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:100px;
    height:50px;
    color: wheat;
    background-color: #001945;
    font-family: 'Varela Round';
  }




.inputdiv{
    display:flex;
    justify-content:center;
    width:100%;
}

.input{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:500px;
    height:150px;
    font-size:500%;
    font-family: 'Varela Round';
    color:#001945;
    display:none;
        
}




.displayWord{
    font-family: 'Varela Round';
    color:#001945;
}

.goButton{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:100px;
    height:150px;
    font-size: 250%;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: 'Varela Round';
    color:#001945;
    display:none;
    margin-left:15px;
}

.showCorrect{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    width:100px;
    height:150px;
    font-size: 250%;
    display:none;
    justify-content:center;
    align-items: center;
    font-family: 'Varela Round';
    color:#001945;
    display:none;
    margin-left:15px;
}

.explanation{
    font-family: 'Varela Round';
    color:#001945;
}

.statsText{
    color: wheat;
    font-family: 'Varela Round';

}

.statsTextPr{
    color: wheat;
    font-family: 'Varela Round';
    font-size: 32px;
}

.statsTextPc{
    color: wheat;
    font-family: 'Varela Round';
    font-size: 28px;
}

.statsTextCondt{
    color: wheat;
    font-family: 'Varela Round';
    font-size: 36px;
}

.stats{
    margin-right:15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    width:350px;
    height:160px;
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    background-color: #001945;
    color: wheat;
}

.returnbutton{
    border:5px;
    border-color: #001945;
    border-radius: 15px;
    
    font-size: 250%;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: 'Varela Round';
    color:#001945;
  
    margin-left:15px;
}

.copyrighttext{
    color:#001945;
    font-family: "Varela Round";
    
}

.flexbox{
    display:flex;
}

.flexitem{
    flex:2;
}


.foot{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #3e8e41;
    color: white;
    width: 100%;
    bottom: 0%;
    position: fixed;
    transform:translateX(-20px);
    
}

.topleftlogoicon{
    width:98px;
    height:100px;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #001945;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3e8e41;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3e8e41;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .slidertext{
    font-family: 'Varela Round';
    color:#001945;
    margin-left: 150%;
    margin-top: 0%;
    width: 200%;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: #c31483;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  margin-left: 40%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 15px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; 
  border-radius: 15px;

  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #001945;
  color: wheat;
  border-radius: 15px;

}

.frontcardtext{
  color:wheat;
  font-family: 'Varela Round';
}

/* Style the back side */
.flip-card-back {
  background-color: #3e8e41;
  color: white;
  transform: rotateY(180deg);
}